@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: "Roboto", serif;

    --bg-color: #121212;
    --font-color: #FFFFFF;
    --primary-color: #BB86FC;
    --secondary-color: #FF7597;
    --success-color: #4CAF50;
    --error-color: #CF6679;
    --dark-gray-color: #333333;
    --light-gray-color: #1E1E1E;
    --hover-color: #2C2C2C;
    --orange-color: #cf6603;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    color: var(--font-color);

    &:hover {
        color: var(--hover-color);
    }
}

.btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--font-color);
    padding: 5px;
    border-radius: 0.3rem;

    &:hover {
        background-color: var(--hover-color);
        cursor: pointer;
    }
}

.nav-link {
    cursor: pointer;
    font-weight: 600;

    &:hover {
        text-shadow: 1px 1px 2px black;
    }
}